# Byte-compiled / optimized / compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.coverage.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pyre type checker
.pyre/

# C extensions
*.so

# Static files
staticfiles/

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask/Django environments
instance/
.webassets-cache/

# Scrapy stuff:
.scrapy/

# Sphinx documentation
docs/_build/

# PyInstaller
*.manifest
*.spec

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyright
.pyright/

# Environment variables
.env
.env.*

# Editor and IDE specific
.vscode/
.idea/
*.swp
*~
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

/samples/
prompt.txt
/output_images/